.contact-main-section{
    display: flex;
    justify-content: space-between;
    .comment-form-section{
        position: relative;
        top: -100px;
        form{
            background-color: $secondaryBackgroundColor;
            padding: 4rem 2rem;
            box-shadow: 15px 15px $designColor;
            input{
                background: $secondaryBackgroundColor;
                color: $whiteColor;
                &::placeholder{
                    color: $whiteColor;
                }
            }
            textarea{
                background: $secondaryBackgroundColor;
                color: $whiteColor;
                &::placeholder{
                    color: $whiteColor;
                }
            }
            .post-btn{
                background-color: rgb(225, 242, 243);
                color: $blackColor;
                border: 2px solid $secondaryBackgroundColor;
                &:hover,
                &:focus{
                    @include button($secondaryBackgroundColor,$designColor,$designColor)
                }
            }
        }
    }
    .contact-web-info{
        padding: 4rem 4rem 0rem 3rem;
        .social-media ul{
            padding-bottom: 1rem;
            display: flex;
            justify-content: space-between;
            font-size: 2rem;
            li:hover,
            li:focus{
                transform: scale(1.07);
            }
        }
    }
}