// main gallery
    .main-gallery-section{
        background: $secondaryBackgroundColor;
        padding: 5rem 0;


    .main-gallery{
        display: flex;
        justify-content: space-between;

        .main-img{
            width: calc((100% / 3) - 2rem);

            img{
                width: 100%;
            }
        }
    }
}