.about{
    background-color: $secondaryBackgroundColor;
}
.online-market-section{
    display: flex;

    .market-img{
        width: 45%;
        height: 100%;

        img{
            width: 100%;
            min-width: 430px;
            height: 100%;
            position: relative;
            top: -40px;
            box-shadow: 12px 12px $designColor;
        }
    }

    .market-details{
        width: 55%;
        padding: 2rem 5rem 2rem 5rem;

        h2{
            color: $whiteColor;
            margin: 0;
        }
        p{
            color:$whiteColor;
        }
        .read-btn{
            background-color:$primaryBackgroundColor;
            border: 2px solid $primaryBackgroundColor;

            &:hover,
            &:focus{
                    @include button($secondaryBackgroundColor,$primaryBackgroundColor,$primaryBackgroundColor)
                }
        }
    }
    
}
.new-location-section{
    display: flex;

    .location-img{
        width: 45%;
        height: 100%;

        img{
            width: 100%;
            min-width: 430px;
            height: 100%;
            position: relative;
            bottom: -50px;
            box-shadow: -12px 12px $designColor;
        }
    }

    .location-details{
        width: 55%;
        padding: 2rem 5.7rem 2rem 4rem;
        text-align: right;

        h2{
            color: $whiteColor;
            margin: 0;
        }
        p{
            color:$whiteColor;
        }
        .read-btn{
            background-color:$primaryBackgroundColor;
            border: 2px solid $primaryBackgroundColor;

            &:hover,
            &:focus{
                    @include button($secondaryBackgroundColor,$primaryBackgroundColor,$primaryBackgroundColor)
                }
        }
    }
    
}
