.technique-section{
    background-color: $primaryBackgroundColor;
    position: relative;
    padding: 5rem 0;

    .scissor-image img{
        width: calc(100% / 2);
        max-width: 700px;
        position: absolute;
        top: -300px;
    }

    .technique {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        align-items: center;

        .technique-details{
            width: 60%;
            
            .find-btn{
                background-color:#1a315c;
                color: white;
                border: 2px solid #1a315c;
            }
        }
    }
}
// design for technique image
.technique-image{
    position: relative;
    
    img{
        position: relative;
      
    }
}
.technique-image::before{
            content: " ";
            width: 100%;
            height: 100%;
            background-color: #0cadc0;
            position: absolute;
            top: 10px;
            right:13px ;
        }
        