.technique-section{
    background-color: $primaryBackgroundColor;
    position: relative;
    padding: 5rem 0;
    
    .scissor-image img{
        width: calc(100% / 2);
        position: absolute;
        top: -450px;
        max-width: 800px;
    }

    .technique {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        align-items: center;

        .technique-details{
            width: 70%;
            
            .find-btn{
                @include button ($primaryColor, $whiteColor, $primaryColor);

                &:hover,
                &:focus{
                    @include button($primaryBackgroundColor,$primaryColor,$primaryColor)
                }
            }
        }
        .technique-image{
            img{
               box-shadow: -12px 12px $designColor; 
               margin-left: 1rem;
            }
        }
    }   
}

        