//===============
// blog header section
// ===============

#blog{
    background: url('../textilee-assets/blog-header.jpg');
        height: 70vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
// blog page Blog menu underline
.blog-menu-list li:nth-of-type(3) a{
    position: relative;

    &::before {
        content: " ";
        height: 3px;
        position: absolute;
        width: 90%;
        background-color: $designColor;
        left: 5%;
        bottom: -5px;   
        animation: slidingLine 1s ease-in-out;             
             
    }
}