
#contact{
    background: url('../textilee-assets/contact-header.jpg');
        height: 50vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

// contact-page  Contact menu underline
.contact-menu-list li:nth-of-type(4) a{
    position: relative;

    &::before {
        content: " ";
        height: 2px;
        position: absolute;
        width: 90%;
        background-color: $designColor;
        left: 5%;
        bottom: -5px;                
    }
}