// ========global styling======

html{
    margin: 0;
    padding: 0;
    font-size: 125%;
    font-family: 'Pacifico', cursive;
    overflow-x: hidden;
}
.wrapper{
    max-width:1180px;
    width: 85%;
    margin: 0 auto;
}
a{
    text-decoration: none; 
    color: black;
}
li {
    list-style: none;
}
p{
    color: #1f2022;
    letter-spacing: 1.4px;
    font-size: 18px;
    line-height: 29px;
    font-family: 'Lato', sans-serif;
}
h1{
    letter-spacing: 2px;
    font-weight: normal;
    width: 60%;
    font-size: 50px;
    line-height: 64px;
}
h2{
    letter-spacing: 2px;
    font-weight: normal;
    font-size: 40px;
    line-height: 68px;
}
.btn{
    font-family: 'Pacifico', cursive;
    letter-spacing: 1.7px;
    font-size: 23px;
    padding: 0.5rem 1.5rem;
    text-transform: lowercase;
}
