// ========global styling======


html{
    margin: 0;
    padding: 0;
    font-size: 125%;
    font-family: $primaryFontStyle;
    overflow-x: hidden;
}
.wrapper{
    max-width:1080px;
    width: 85%;
    margin: 0 auto;
}
a{
    text-decoration: none; 
    color: $primaryColor;
}
li {
    list-style: none;
}
p{
    color: $primaryColor;
    letter-spacing: 1.4px;
    font-size: 18px;
    line-height: 29px;
    font-family: $secondaryFontStyle;
}
h1{
    @include fontSize (54px, 64px, $primaryColor);
    width: 60%;
}
h2{
    @include fontSize (40px, 68px, $primaryColor);
}
.btn{
    font-family: $primaryFontStyle;
    letter-spacing: 1.7px;
    font-size: 23px;
    padding: 0.5rem 1.5rem;
    text-transform: lowercase;
}
