// background color
$primaryBackgroundColor: #ccedfb;
$secondaryBackgroundColor: #1a315c;

// font color
$primaryColor: #1a315c;
$blackColor: #000;
$whiteColor: #fff;
$designColor: #0cadc0;

// primary font family style
$primaryFontStyle: 'Pacifico', cursive;
$secondaryFontStyle: 'Lato', sans-serif;

// 