@media (max-width:1000px) {
    .contact-main-section{
        flex-direction: column;
        .comment-form-section{
            width: 100%;
            padding: 0 5rem;
            form{
                box-shadow: 0 15px $designColor;
                width: 100%;
                input{
                    width: 100%;
                }
            }
        }
        .contact-web-info{
            .social-media{
                width:50%;
            }
        }
    }
}
@media (max-width: 670px) {
    .contact-nav-bar{
        flex-direction: column;
        align-items: flex-start;
        
        .contact-menu{
            width: 100%;
        }
    }
    .contact-nav-bar .contact-menu ul {
        display: none;
        background: $primaryBackgroundColor;
        width: 100%;
        position: fixed;
        z-index: 99;
        border-bottom: 3px solid $primaryColor;
        border-top: 3px solid $primaryColor;
        
        li{
            padding: 1rem 1rem;
        }
    }
    .dropDownMenu:checked + ul {
        display: block;
    }
    .contact-nav-bar .contact-menu .hamburger-btn{
        top: 1.2rem; 
    }
    .contact-main-section{
        .comment-form-section{
            padding: 1rem;
        }
        .contact-web-info{
            .social-media{
                width:70%;
            }
        }
    }
}