// background color
$primaryBackgroundColor: #ccedfb;
$secondaryBackgroundColor: #283f4d;

// font color
$primaryColor: #1a315c;
$blackColor: #000;
$whiteColor: #fff;
$designColor: #0cadc0;
$secondaryDesignColor:#283f4d;

//  font-family style
$primaryFontStyle: 'Pacifico', cursive;
$secondaryFontStyle: 'Lato', sans-serif;

// button background color
$readBtnColor:#ccedfb;
$findBtnColor:#1a315c;
