// footer page styling
footer{
    background: $primaryColor;
    padding: 0.5rem 0;

    p{
        text-align: center;
        color: $whiteColor;
        margin: 0;

        a{
            color: $whiteColor;
        }
    }
}