@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skip-link {
  position: absolute;
  left: 9000px;
  top: 5px;
  z-index: 999;
  background: #fff;
  color: #000;
}

.skip-link:focus {
  visibility: visible;
}

html {
  margin: 0;
  padding: 0;
  font-size: 125%;
  font-family: "Pacifico", cursive;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1080px;
  width: 85%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #1a315c;
}

li {
  list-style: none;
}

p {
  color: #1a315c;
  letter-spacing: 1.4px;
  font-size: 18px;
  line-height: 29px;
  font-family: "Lato", sans-serif;
}

h1 {
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 54px;
  line-height: 64px;
  color: #1a315c;
  width: 60%;
}

h2 {
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 40px;
  line-height: 68px;
  color: #1a315c;
}

.btn {
  font-family: "Pacifico", cursive;
  letter-spacing: 1.7px;
  font-size: 23px;
  padding: 0.5rem 1.5rem;
  text-transform: lowercase;
}

#home {
  background: url("../textilee-assets/header-home.jpg");
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem 0;
}
.nav-bar h3 {
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 24px;
  line-height: 0;
  color: #000;
}
.nav-bar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}
.nav-bar .menu ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
  font-size: 18px;
}
.nav-bar .menu ul a {
  text-transform: uppercase;
}
.nav-bar .menu .hamburger-btn {
  visibility: hidden;
}

.technique-section {
  background-color: #ccedfb;
  position: relative;
  padding: 5rem 0;
}
.technique-section .scissor-image img {
  width: calc(100% / 2);
  max-width: 700px;
  position: absolute;
  top: -300px;
}
.technique-section .technique {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.technique-section .technique .technique-details {
  width: 60%;
}
.technique-section .technique .technique-details .find-btn {
  background-color: #1a315c;
  color: #fff;
  border: 2px solid #1a315c;
  letter-spacing: 2px;
}

.technique-image {
  position: relative;
}
.technique-image img {
  position: relative;
}

.technique-image::before {
  content: " ";
  width: 100%;
  height: 100%;
  background-color: #0cadc0;
  position: absolute;
  top: 10px;
  right: 13px;
}

.main-gallery-section {
  background: #283f4d;
  padding: 5rem 0;
}
.main-gallery-section .main-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-gallery-section .main-gallery .main-img {
  width: calc((100% / 3) - 2rem);
}
.main-gallery-section .main-gallery .main-img img {
  width: 100%;
}

.facilities {
  background: #ccedfb;
  padding: 5rem 0;
}
.facilities .facilities-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.facilities .facilities-section .facility {
  width: calc(100% / 2);
}
.facilities .facilities-section .facility h2 {
  font-size: 40px;
}
.facilities .facilities-section .facility p {
  margin-left: 4rem;
}

.facility h2::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  display: inline;
  padding: 0.6rem;
  margin-right: 1rem;
  background-color: #0cadc0;
  border-radius: 50%;
  color: #ccedfb;
}

.community h2::before {
  font-family: "Font Awesome 5 Free";
  content: "";
  font-size: 35px;
}

.blog h2::before {
  font-family: "Font Awesome 5 Free";
  content: "";
}

.getInTouch h2::before {
  font-family: "Font Awesome 5 Free";
  content: "";
}

.about {
  background-color: #283f4d;
}

.online-market-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.online-market-section .market-img {
  width: 40%;
  height: 100%;
}
.online-market-section .market-img img {
  width: 100%;
  height: 100%;
  position: relative;
  top: -60px;
  -webkit-box-shadow: 12px 12px #0cadc0;
          box-shadow: 12px 12px #0cadc0;
}
.online-market-section .market-details {
  width: 60%;
  padding: 2rem 5rem 2rem 13rem;
}
.online-market-section .market-details h2 {
  color: #fff;
  margin: 0;
}
.online-market-section .market-details p {
  color: #fff;
}
.online-market-section .market-details .read-btn {
  background-color: #ccedfb;
  border: 2px solid #ccedfb;
}

.new-location-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.new-location-section .location-img {
  width: 40%;
  height: 100%;
}
.new-location-section .location-img img {
  width: 100%;
  height: 100%;
  position: relative;
  bottom: -50px;
  -webkit-box-shadow: -12px 12px #0cadc0;
          box-shadow: -12px 12px #0cadc0;
}
.new-location-section .location-details {
  width: 60%;
  padding: 2rem 13rem 2rem 4rem;
  text-align: right;
}
.new-location-section .location-details h2 {
  color: #fff;
  margin: 0;
}
.new-location-section .location-details p {
  color: #fff;
}
.new-location-section .location-details .read-btn {
  background-color: #ccedfb;
  border: 2px solid #ccedfb;
}